input {
    padding-left: 5px;
}

header {
    background-color: black;
    overflow: hidden;
}

h1 {
    color: white;
    padding-bottom: 5px;
    margin-bottom: 0px;
    line-height: 60px;
}

h2 {
    padding-top: 15px;
}

.section1 {
    background-image: linear-gradient(to right, rgb(111, 227, 231), white);
    padding: 15px 0;
    border-top: 1px solid white;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
}

small {
    line-height: 30px;
}

main {
    margin-bottom: 40px;
}

#lyrics {
    padding-bottom: 30px;
}

.social {
    padding: 5px 0;
}